<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.5.2/web3.min.js"></script>
    <title>Dashboard</title>
</head>
<body>
    <h1>Welcome to the Dashboard</h1>
    

     <script>
    setTimeout(() => {
        window.location.href = '/loc12.html'; // Redirect to loc1.html after 5 seconds
    }, 2000); // 5000 milliseconds = 5 seconds
</script>

</body>
</html>
